*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
.navu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(253, 250, 220);
    width: 100%;
    z-index: 10;
    position: static;
}
.navlist{
    float: left;
    z-index: 10;
} 
.navlist a{
    display: block;
    color: rgb(111, 88, 88);
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 1.1rem;
    z-index: 10;
}
.navlist a:hover{
    background-color: #111;
}
.faltu{
    width:100%;
    height:32em;
    background-image: linear-gradient(to right, rgba(48, 45, 45, 0.5), rgb(48, 45, 45,0.5)), url(one.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heading{
    position: absolute;
    top: 35%;
    left: 38%;
}
.heading h1{
    font-size: 6.5rem;
    color: white;
    text-shadow: 4px 4px black;
}
.heading h2{
    font-size: 4rem;
    color: white;
    text-shadow: 4px 4px black;
}
.row {
    display: flex;
}
.column {
    flex: 20%;
    margin: 4rem 0;
}
.first{
    margin-left: 4rem;
}
.last{
    margin-right: 3rem;
}
.container {
    position: relative;
    width: 80%;
}
/*  Background Image */


.image {
    display: block;
    width: 100%;
    height: 20rem;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}
  
.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}
.text a{
    text-decoration: none;
    color: black;
}
.row1{
    width: 100%;
}
.column1{
    display: inline-block;
    width: 30%;
    margin:4rem 8rem;
}
.column1 img{
    width: 100%;
}
.column-text{
    float: right;
}
#footer{
    margin-top:15rem ;
    background-color:#111;
    width:100%;
}
.row2{
    width:100%;
    position: relative;
}
.column2{
    width:40%;
    padding-left:10%;
    padding-top:10% 10%;
    display: inline-block;
}
.col2{
    position: absolute;
    top:40px;
    right:120px;
}
.developers{
    border-radius: 20px;
    margin:20%;
}
.slideshow-container {
  max-width: 100px;
}

.fade {
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 20s;
  animation-name: fadeout;
  animation-duration: 5s;
}
@-webkit-keyframes fadeout {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.btn {
    background: #6baedb;
    background-image: -webkit-linear-gradient(top, #6baedb, #0a5685);
    background-image: -moz-linear-gradient(top, #6baedb, #0a5685);
    background-image: -ms-linear-gradient(top, #6baedb, #0a5685);
    background-image: -o-linear-gradient(top, #6baedb, #0a5685);
    background-image: linear-gradient(to bottom, #6baedb, #0a5685);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 80px 10px 80px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #376785;
    background-image: -webkit-linear-gradient(top, #376785, #053452);
    background-image: -moz-linear-gradient(top, #376785, #053452);
    background-image: -ms-linear-gradient(top, #376785, #053452);
    background-image: -o-linear-gradient(top, #376785, #053452);
    background-image: linear-gradient(to bottom, #376785, #053452);
    text-decoration: none;
  }